/* Set the font to an arcade game style */
body {
    font-family: 'Press Start 2P', cursive;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
}

/* Changing the font size of the Pokemon name on smaller screens */
@media all and (max-width: 500px) {
	h1 {
		font-size: 18px;
	}

	#navbarDropdown {
		font-size: 10px;
	}
}

/* Styling for the buttons for each individual Pokemon, including opacity change for hovering. Overwriting some of the defaults that Bootstrap comes with */
.btn {
    font-family: inherit;
    background-color: #87CEFA;
    text-decoration: none;
    padding: auto;
	margin: auto;
    transition: 0.2s opacity;
	min-width: 200px;
}

.btn:hover, .btn:focus {
    cursor: pointer;
    opacity: 0.8;
}

/* Hiding the loading spinner on page load */
#loading, #loading-modal {
    display: none;
}

/* Styling for the type icons */
.pokemon-type {
	padding: 2px 5px;
	display: inline-block;
	margin: 2px 5px;
}

/* Colours for the different types. Credit to https://gist.github.com/agarie/2610520 for providing hex codes for these styles */
.normal {
	background-color: #A8A878;
	border: 1px solid #6D6D4E;
}

.fire {
	background-color: #F08030;
	border: 1px solid #9C531F;
	color: #fff;
}

.water {
	background-color: #6890F0;
	border: 1px solid #445E9C;
	color: #fff;
}

.electric {
	background-color: #F8D030;
	border: 1px solid #A1871F;
}

.grass {
	background-color: #78C850;
	border: 1px solid #4E8234;
	color: #fff;
}

.ice {
	background-color: #98D8D8;
	border: 1px solid #638D8D;
}

.ground {
	background-color: #E0C068;
	border: 1px solid #927D44;
}

.flying {
	background-color: #A890F0;
	border: 1px solid #6D5E9C;
}

.ghost {
	background-color: #705898;
	border: 1px solid #493963;
	color: #fff;
}

.rock {
	background-color: #B8A038;
	border: 1px solid #786824;
}

.fighting {
	background-color: #C03028;
	border: 1px solid #7D1F1A;
	color: #fff;
}

.poison {
	background-color: #A040A0;
	border: 1px solid #682A68;
	color: #fff;
}

.psychic {
	background-color: #F85888;
	border: 1px solid #A13959;
	color: #fff;
}

.bug {
	background-color: #A8B820;
	border: 1px solid #6D7815;
}

.dark {
	background-color: #705848;
	border: 1px solid #49392F;
	color: #fff;
}

.steel {
	background-color: #B8B8D0;
	border: 1px solid #787887;
}

.dragon {
	background-color: #7038F8;
	border: 1px solid #4924A1;
	color: #fff;
}

.fairy {
    background-color: #ffc5f2;
	border: 1px solid #ffc5a4;
}